.feedback-form {
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  flex-direction: column;
}
label:nth-child(-n + 2) {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
label + label {
  margin-top: 8px;
}
input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

textarea {
  resize: none;
  width: 360px;
  min-height: 80px;
  border-radius: 4px;
  border: 1px solid #808080;
}

button {
  margin-top: 16px;
  width: 90px;
  height: 45px;
  border: none;
  color: #ffffff;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #4e75ff;
}
