img {
  display: block;
  height: auto;
  width: 360px;
  height: 200px;
}
.gallery {
  padding: 20px;
  max-width: 1158px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
}
.gallery-item {
  list-style: none;
  transition: transform 250ms ease-in;
}

.gallery-item:not(:only-child) {
  transform: scale(1);
}
.gallery-item:hover {
  transform: scale(1.1);
  transition: transform 250ms ease-in;
}
